@model NaPegada.Web.Models.Usuario.DoacaoViewModel

<div class="form-group">
    <label for="" class="col-sm-1 text">Nome: </label>

    <label class="col-sm-offset-1">@Model.Nome</label>
</div>

<div class="form-group">
    <label for="" class="col-sm-1">Espécie: </label>

    <label class="col-sm-offset-1">@Model.Especie</label>
</div>

<div class="form-group">
    <label for="" class="col-sm-1">Raça: </label>

    <label class="col-sm-offset-1">@Model.Raca</label>
</div>

<div class="form-group">
    <label for="" class="col-sm-1">Porte: </label>

    <label class="col-sm-offset-1">@Model.Porte</label>
</div>

<div class="form-group">
    <label for="" class="col-sm-1">Idade: </label>
    <label class="col-sm-offset-1">@Model.Idade</label>
</div>

<div class="form-group">
    <label></label>
</div>

<div class="form-group">
    <label for="" class="col-sm-4">Informações Extras: </label>

</div>

<div class="form-group">
    <label></label>
</div>

<div>
    <div class="form-group">
        <label class="col-sm-1">Vacinado: </label>
        <label class="col-sm-offset-1">@Model.Vacinado</label>
    </div>

    <div class="form-group">
        <label class="col-sm-1">Castrado: </label>
        <label class="col-sm-offset-1">@Model.Castrado</label>
    </div>

    <div class="form-group">
        <label class="col-sm-1">Vermífugo: </label>
        <label class="col-sm-offset-1">@Model.Vermifugo</label>
    </div>
</div>  

<div class="form-group text-right">
    <button class="btn btn-success" type="submit">Adotar</button>
</div>
