@model NaPegada.Web.Models.Usuario.DoacaoViewModel

<div class="form-group">
    <label for="" class="col-sm-1 text">Nome: </label>

    <label class="col-sm-offset-1">@Model.Nome</label>
</div>

<div class="form-group">
    <label for="" class="col-sm-1">Espécie: </label>

    <label class="col-sm-offset-1">@Model.Especie</label>
</div>

<div class="form-group">
    <label for="" class="col-sm-1">Raça: </label>

    <label class="col-sm-offset-1">@Model.Raca</label>
</div>

<div class="form-group">
    <label for="" class="col-sm-1">Porte: </label>

    <label class="col-sm-offset-1">@Model.Porte</label>
</div>

<div class="form-group">
    <label for="" class="col-sm-1">Idade: </label>
    <label class="col-sm-offset-1">@Model.Idade</label>
</div>

<div class="form-group">
    <label></label>
</div>

<div class="form-group">
    <label for="" class="col-sm-4">Informações Extras: </label>

</div>

<div class="form-group">
    <label></label>
</div>

<div>
    <div class="form-group">
        <label class="col-sm-1">Vacinado: </label>
        <label class="col-sm-offset-1">@Model.Vacinado</label>
    </div>

    <div class="form-group">
        <label class="col-sm-1">Castrado: </label>
        <label class="col-sm-offset-1">@Model.Castrado</label>
    </div>

    <div class="form-group">
        <label class="col-sm-1">Vermífugo: </label>
        <label class="col-sm-offset-1">@Model.Vermifugo</label>
    </div>
</div>  

<div class="form-group text-right" id="adocao">
    <button class="btn btn-success" type="button" id="adotar">Quero adotar!</button>
</div>

<div style="display: none" id="confirmacao-adocao" class="text-right">
    <p>Tem certeza de que tem interesse em adotar o(a) @Model.Nome?</p>

    <div>
        <button class="btn btn-danger" type="button" id="cancelar-adocao">Não</button>
        <button class="btn btn-success" type="button" id="confirmar-adocao">Sim</button>
    </div>
</div>

<script src="~/Scripts/Site/_descricao-animal.js"></script>