@model NaPegada.Web.Models.Interesse.DetalhesViewModel


@using (Html.BeginForm("Detalhes", "Interesse", FormMethod.Post, new { @class = "form" }))
{
    
    @Html.HiddenFor(i => i.Id)
    
    <div class="form-group">
        <label for="Especie">Espécie:</label>
        @Html.EnumDropDownListFor(i => i.Especie, "Selecie uma espécie", new { @class = "form-control" })

    </div>

    <div class="form-group">
        <label for="Raca">Raca:</label>
        @Html.TextBoxFor(i => i.Raca, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="IdadeMin" class="col-sm-1">Idade Min:</label>

        <div class="col-sm-5">
            @Html.TextBoxFor(i => i.IdadeMin, new { @class = "form-control" })
        </div>

        <label for="IdadeMax" class="col-sm-1">Idade Max:</label>

        <div class="col-sm-5">
            @Html.TextBoxFor(i => i.IdadeMax, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label></label>
    </div>


    <label>Porte:</label>
    <div class="form-group">

        <div class="col-sm-4">
            <div class="input-group ">
                <span class="input-group-addon">
                    @Html.CheckBoxFor(i => i.PortePequeno)
                </span>
                <input type="text" class="form-control" disabled value="Pequeno">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBoxFor(i => i.PorteMedio)
                </span>
                <input type="text" class="form-control" disabled value="Médio">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBoxFor(i => i.PorteGrande)
                </span>
                <input type="text" class="form-control" disabled value="Grande">
            </div>
        </div>
    </div>

     <div class="form-group">
        <label></label>
    </div>
    
    <label>Informação Extra:</label>
    <div class="form-group">
        <div class="col-sm-4">
            <div class="input-group ">
                <span class="input-group-addon">
                    @Html.CheckBoxFor(i => i.Vacinado)
                </span>
                <input type="text" class="form-control" disabled value="Vacinado">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBoxFor(i => i.Castrado)
                </span>
                <input type="text" class="form-control" disabled value="Castrado">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBoxFor(i => i.Vermifugo)
                </span>
                <input type="text" class="form-control" disabled value="Vermífugo">
            </div>
        </div>

    </div>
    
    <div class="form-group">
        <label></label>
    </div>


    <div class="form-group text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </div>

}