<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Na Pegada - @ViewBag.Title</title>
    @Styles.Render("http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css",
                   "http://bootswatch.com/sandstone/bootstrap.min.css",
                   "~/Content/css/napegada.css")
    @RenderSection("styles", false)
</head>
<body>
    
        @Html.Partial("_Menu")
    
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js",
                    "http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js",
                    "~/Scripts/napegada.js")
    @RenderSection("scripts", false)
</body>
</html>