<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Na Pegada - @ViewBag.Title</title>
    @Styles.Render("http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css",
                   "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css",
                   "~/Content/styles/napegada-user-1.0.0.css",
                           "https://code.jquery.com/ui/1.9.1/themes/ui-darkness/jquery-ui.css")
    @RenderSection("styles", false)
</head>
<body>

    <div>
        @RenderBody()
    </div>
    <div class="footer-site">

    </div>
    @Scripts.Render("http://code.jquery.com/jquery-1.9.1.min.js",
                    "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js",
                    "http://code.jquery.com/ui/1.11.0/jquery-ui.min.js",
                    "~/Scripts/napegada-1.0.0.js")
    @RenderSection("scripts", false)
</body>
</html>