<!--
    
    Nesta tela ira apresentar 

-->

@model NaPegada.Web.Models.Usuario.MeusInteressesViewModel

@using NaPegada.Web.Models

@{
    ViewBag.Title = "Meus Interesses";
    var sucesso = TempData["sucesso"] as string;
}

<h2>Interesses</h2>

<div class="form-group">
    <label></label>
</div>

<div>
    <button data-url="@Url.Action("Detalhes", "Interesse")" class="btn btn-primary btn-sm abrir-interesse">Cadastrar Interesse</button>
</div>

<div class="form-group">
    <label></label>
</div>

@if (!string.IsNullOrWhiteSpace(sucesso))
{
    <div class="alert alert-success">
        @sucesso
    </div>

}

@if (Model.Interesses.Any())
{

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Lista de Interesses</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>Raça</th>
                    <th>Espécie</th>
                    <th>Idade Desejada</th>
                    <th>Portes</th>
                    <th>Vacinado</th>
                    <th>Castrado</th>
                    <th>Vermífugo</th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var interesse in Model.Interesses)
                {
                    
                    
                    
                    <tr>
                        <td>@interesse.Raca</td>
                        <td>@interesse.Especie</td>
                        <td>Entre: @interesse.IdadeMin e @interesse.IdadeMax ano(s) </td>
                        <td>
                            <strong>Pequeno:</strong> @interesse.PortePequeno
                            <br/>
                            <strong>Médio:</strong> @interesse.PorteMedio
                            <br/>
                            <strong>Grande:</strong> @interesse.PorteGrande
                        </td>
                        <td>@interesse.Vacinado</td>
                        <td>@interesse.Castrado</td>
                        <td>@interesse.Vermifugo</td>
                        <td><a href="#"><span class="glyphicon glyphicon-pencil abrir-interesse" data-codigo="@interesse.Id" data-url="@Url.Action("Detalhes", "Interesse", new { id = interesse.Id })"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-remove excluir-interesse" data-codigo="@interesse.Id" data-url="@Url.Action("Exclusao", "Interesse", new { id = interesse.Id })"></span></a></td>
                    </tr>
                }
            </table>
        </div>
    </div>


}
else
{
    <div class="alert alert-info">
        Não há doações cadastradas
    </div>
}


<!--Modal-->
<div class="modal fade" id="modal-interesse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastrar Interesse</h4>
            </div>

            <div class="modal-body" id="interesse">
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="modal-excluir-interesse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Deletar Interesse</h4>
            </div>

            <div class="modal-body" id="exclusao">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/Usuario/meus-interesses.js"></script>
}