<!--
    
    Nesta tela ira apresentar 

-->

@model NaPegada.Web.Models.Usuario.MeusInteressesViewModel

@using NaPegada.Web.Models

@{
    ViewBag.Title = "Meus Interesses";
    var sucesso = TempData["sucesso"] as string;
}

<h2>Interesses</h2>

<div>
    <button data-url="@Url.Action("Detalhes", "Interesse")" class="btn btn-success btn-sm abrir-interesse">Cadastrar Interesse</button>
</div>


@if (!string.IsNullOrWhiteSpace(sucesso))
{
    <div class="alert alert-success">
        @sucesso
    </div>

}


<div class="form-group">
    <label></label>
</div>
<div class="form-group">
    <label></label>
</div>

@if (Model.Interesses.Any())
{

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Lista de Interesses</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>Raça</th>
                    <th>Espécie</th>
                    <th>Idade Mínima</th>
                    <th>Idade Máxima</th>
                    <th>Vacinado</th>
                    <th>Castrado</th>
                    <th>Vermifugo</th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var interesse in Model.Interesses)
                {
                    <tr>
                        <td>@interesse.Raca</td>
                        <td>@interesse.Especie</td>
                        <td>@interesse.IdadeMin</td>
                        <td>@interesse.IdadeMax</td>
                        <td>@interesse.Vacinado</td>
                        <td>@interesse.Castrado</td>
                        <td>@interesse.Vermifugo</td>
                        <td><a href="#"><span class="glyphicon glyphicon-pencil abrir-interesse" data-url="@Url.Action("Detalhes", "Interesse", new { id = interesse.Id })"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-remove excluir-interesse" data-url="@Url.Action("Exclusao", "Interesse", new { id = interesse.Id })"></span></a></td>
                    </tr>
                }
            </table>
        </div>
    </div>


}
else
{
    <div class="alert alert-info">
        Não há doações cadastradas
    </div>
}


<!--Modal-->
<div class="modal fade" id="modal-cadastrar-interesse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Interesse de Doação</h4>
            </div>

            <div class="modal-body" id="interesse">
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="modal-excluir-interesse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Deletar Interesse de Doação</h4>
            </div>

            <div class="modal-body" id="exclusao">
            </div>
        </div>
    </div>
</div>