<!--
    
    Está tela ira trazer as lista de doções do usuário e terá
    um botão "CADATRAR DOAÇÃO", que ira abrir um modal apresentando
    o formulário de doação
    
-->

@model NaPegada.Web.Models.Usuario.MinhasDoacoesViewModel

@{
    ViewBag.Title = "MinhasDoacoes";
    var sucesso = TempData["sucesso"] as string;
}

<h2>Doações</h2>

<div class="form-group">
    <label></label>
</div>

<div>
    <button data-url="@Url.Action("Detalhes", "Doacao")" class="btn btn-primary btn-sm abrir-doacao">Cadastrar Doação</button>
</div>

@if(!string.IsNullOrWhiteSpace(sucesso))
{
    <div class="form-group">
    <label></label>
    </div>
    
    <div class="alert alert-success">
        @sucesso
    </div>
}

<div class="form-group">
    <label></label>
</div>



@if (Model.Doacoes.Any())
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Lista de Doações</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>Nome</th>
                    <th>Raça</th>
                    <th>Porte</th>
                    <th>Espécie</th>
                    <th>Data de Cadastro</th>
                    <th>Idade</th>
                    <th>Vacinado</th>
                    <th>Castrado</th>
                    <th>Vermifugo</th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var doacao in Model.Doacoes)
                {
                    <tr>
                        <td>@doacao.Nome</td>
                        <td>@doacao.Raca</td>
                        <td>@doacao.Porte</td>
                        <td>@doacao.Especie</td>
                        <td>@doacao.DataCadastro</td>
                        <td>@doacao.Idade</td>
                        <td>@doacao.Vacinado</td>
                        <td>@doacao.Castrado</td>
                        <td>@doacao.Vermifugo</td>
                        <td><a href="#"><span class="glyphicon glyphicon-pencil abrir-doacao" data-url="@Url.Action("Detalhes", "Doacao", new { id = doacao.Id })"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-remove excluir-doacao" data-url="@Url.Action("Exclusao", "Doacao", new { id = doacao.Id })"></span></a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
else
{
    <div class="alert alert-info">
        Não há doações cadastradas
    </div>
}


<!-- MODAL CADASTRAR -->
<div class="modal fade" id="modal-doacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Doação</h4>
            </div>
            <div class="modal-body" id="doacao">
            </div>
           
        </div>
    </div>
</div>

<!-- MODAL DELETAR -->
<div class="modal fade" id="modal-deletar-doacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Deletar Doação</h4>
            </div>
            <div class="modal-body" id="exclusao">
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/Usuario/minhas-doacoes.js"></script>
}
