@using NaPegada.Web.Models.Usuario;

@model  NaPegada.Web.Models.Site.HomeViewModel

@{Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Na Pegada</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/css/bootstrap-site.min.css" rel="stylesheet" />

    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/foto.css" rel="stylesheet" />
    <link href="~/Content/css/demo.css" rel="stylesheet" />

</head>
<body>

    @Html.Partial("_MenuSite")

    <div class="container marketing">
        @{
            var quantidadeDoacoes = Model.TodasDoacoes.Count();
            var quantidadeLinhas = Math.Ceiling((decimal)(quantidadeDoacoes / 3f));
        }
        @for (var linha = 0; linha < quantidadeLinhas; linha++)
        {

            <div class="row">
                @for (var coluna = linha * 3; (coluna < quantidadeDoacoes && coluna < (linha * 3 + 3)); coluna++)
                {
                    var animal = Model.TodasDoacoes.ElementAt(coluna);
                    <div class="col-md-4 text-center">
                        <section>

                            <a href="#image">
                                <img class="img-circle" style="width:160px; height:160px;" data-imagem="@(string.IsNullOrWhiteSpace(animal.Foto) ? "" : Url.Content(animal.Foto))" src="@(string.IsNullOrWhiteSpace(animal.Foto) ? "" : Url.Content(animal.Foto))">
                                
                            </a>
                            <div class="lb-overlay" id="image">
                                <p> <a href="#page" class="lb-close">Close</a></p>
                                
                                
                                <img class="img-caca" src="" style="width:500px;" />
                              
                                @*<div>
                                    <p> </p>
                                    <a href="#" class="lb-prev">Prev</a>
                                    <a href="#" class="lb-next">Next</a> 

                                </div>*@

                            </div>


                            <h2>@animal.Nome</h2>
                            <p>@animal.Raca</p>
                            <p>
                                <a href="#" class="btn btn-default abrir-doacao" data-url="@Url.Action("Detalhes", "Site", new { id = @animal.Id })">Detalhes</a>
                            </p>
                        </section>
                    </div>
                }

            </div>
            <hr class="featurette-divider">
        }

        <footer>
            <hr class="featurette-divider">
            <p class="pull-right"><a href="#">Subir pro topo</a></p>
            <p style="align-content:center;">© Na Pegada. Todos os direitos reservados.</p>
        </footer>
    </div>

    @Html.Partial("_Entrar")
    @Html.Partial("_Registrar", new RegistroEhLoginViewModel())

    <div class="modal fade" id="modal-doacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Estou esperando por um lar!</h4>
                </div>
                <div class="modal-body" id="doacao">
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-aviso-notificacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="titulo-aviso"></h4>
                </div>
                <div class="modal-body">
                    <p id="mensagem-aviso"></p>
                </div>

            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/napegada.js"></script>
    <script type="text/javascript" src="~/Scripts/Usuario/doacao.js"></script>
    <script>
        $(function () {
            $('.img-circle').on('click', function () {
                $('.img-caca').attr('src', $(this).data('imagem'))
                ;
            });
        });
    </script>

</body>
</html>
