@model NaPegada.Web.Models.UsuarioViewModel
@{
    ViewBag.Title = Model.Nome;
}
<div class="page-header">
    @Html.Partial("_Menu")
</div>
<div>
    @using (Html.BeginForm("AtualizarUsuario", "Usuario", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(u => u.Id)
        @Html.HiddenFor(u => u.Email)
        @Html.HiddenFor(u => u.Senha)
        @Html.HiddenFor(u => u.NomeFotoPerfil)
        <fieldset>
            <legend>Informações de perfil</legend>
            <div class="form-group">
                <label for="Nome" class="col-sm-2 control-label">Nome:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(u => u.Nome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="Email" class="col-sm-2 control-label">E-mail:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="Upload" class="col-sm-2 control-label">Foto do perfil:</label>
                <div class="col-sm-6">
                    <input type="file" name="Upload" class="form-control" />
                </div>
                <div class="col-sm-4 img-usuario">
                    @if (!string.IsNullOrEmpty(Model.NomeFotoPerfil))
                    {
                        <img src="~/Content/upload/usuario/@Model.NomeFotoPerfil" alt="@Model.NomeFotoPerfil" />
                    }
                    else
                    {
                        <img src="~/Content/upload/usuario/sem-imagem.jpg" alt="Sem Imagem" />
                    }
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Informações de localização</legend>
            <div class="form-group">
                <label for="Endereco_Cep" class="col-sm-2 control-label">CEP:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(u => u.Cep, new { @class = "form-control" })
                </div>
                <button class="btn btn-default" type="button" id="btn-buscar-cep">
                    Procurar
                </button>
            </div>
            <div class="form-group">
                <label for="Logradouro" class="col-sm-2 control-label">Logradouro:</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(u => u.Logradouro, new { @class = "form-control" })
                </div>
                <label for="Numero" class="col-sm-2 control-label">Número:</label>
                <div class="col-sm-2">
                    @Html.TextBoxFor(u => u.Numero, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="Bairro" class="col-sm-2 control-label">Bairro:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(u => u.Bairro, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="Localidade" class="col-sm-2 control-label">Cidade:</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(u => u.Localidade, new { @class = "form-control" })
                </div>

                <label for="Uf" class="col-sm-2 control-label">Estado:</label>
                <div class="col-sm-2">
                    @Html.TextBoxFor(u => u.Uf, new { @class = "form-control" })
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Informações de contato</legend>
        </fieldset>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Salvar alterações</button>
            </div>
        </div>
    }
</div>

@section scripts{
    @Scripts.Render("~/Scripts/napegada-usuario-1.0.0.js")
}